.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.advice-container {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.share-container {
  margin-top: 20px;
}

#twitter-btn {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
}
img {
  height: 30px;
  width: 30px;
}

#twitter-btn:hover {
  filter: brightness(125%);
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  .advice-container {
    padding: 10px;
  }

  #twitter-btn {
    padding: 8px;
  }
}
